.pad-left-30 {
    padding-left: 30px;
}

.pad-left-15 {
    padding-left: 15px;
}

.pad-left-20 {
    padding-left: 20px;
}

.mar-left-30 {
    margin-left: 30px;
}

.wid-25 {
    width: 25%;
}

.user {
    width: 42px;
    height: 42px;
    overflow: hidden;
    float: right;
    /*margin: 7px 7px 0 0;*/
}

ul#nav-mobile li {
    padding: 3px 5px 2px 15px;
    z-index: 5;
}

/*li.logo {
    height: 64px;
    line-height: 3;
    padding: 0 15px;
}

brand-logo {
    font-size: 36px;
    padding: 4px 0px 0px 20px;
}

li.logo a {
    font-size: 36px;
    line-height: 1.7!important;
    padding: 4px 0px 0px 20px;
}*/

ul#nav-mobile li a {
    padding: 0 0;
    height: 45px;
    line-height: 3;
}

.text-center {
    text-align: center;
}

.top-nav {
    background-color: #00BCD4;
}

footer.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #00BCD4;
    z-index: 100;
    padding-top: 0px;
    margin-top: 0px;
}

.border {
    border-bottom: 1px solid #ddd;
}

.text-center {
    text-align: center !important;
}

.block {
    display: block;
}

.search {
    box-sizing: border-box;
    padding: 0 0 0 30px;
    height: 40px;
    margin: 7px 0 0 0;
    line-height: 30px;
    width: 100%;
}

input[type="search"] {
    /*    background-color: rgba(255, 255, 255, 0.3);*/
    background-color: #fff;
    border-radius: 3px;
    padding-left: 0;
    margin-right: 25px;
}

.input-field input[type=search] {
    padding-left: 10px;
    float: right;
}

.card-margin {
    margin: 18px 8px 0 25px;
}

.width-100 {
    width: 100%;
}

.tab-btn {
    padding: 0 5px;
}

.flo-right{
    float:right;
}
.side-nav {
    z-index: 0;
    top:13px;
}

.logo{
    margin: 5px 0px 0 54px;
}

.logout-btn{
    padding: 3px 24px 0 24px;
    height: 40px;
    background-color: #FF5252;
}

.red{
    background-color: #FF5252;
}

.green{
    background-color: #4CAF50;
}

.pink{
    background-color: #F06292;
}

.purple{
    background-color: #9c27b0;
}

.navy-blue{
    background-color: #607D8B;
}

.dash-row{
    margin-right: 10px;
    margin-top: 15px;
}